/* line 2, ../../Projects/html/porny/sass/main.sass */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 6, ../../Projects/html/porny/sass/main.sass */
#nav-lp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 99;
}

/* line 17, ../../Projects/html/porny/sass/main.sass */
#nav-lp #nav-lp-left {
  display: flex;
  align-items: center;
}

/* line 21, ../../Projects/html/porny/sass/main.sass */
#nav-lp #nav-lp-right {
  display: flex;
  align-items: center;
}

/* line 26, ../../Projects/html/porny/sass/main.sass */
.logo {
  min-width: 150px;
  padding-right: 20px;
}

/* line 34, ../../Projects/html/porny/sass/main.sass */
.has-background-transparent {
  background: transparent !important;
}

/* line 37, ../../Projects/html/porny/sass/main.sass */
.is-borderless {
  border: 0;
}

/* line 40, ../../Projects/html/porny/sass/main.sass */
.watch-now-btn {
  color: #222831;
}

/* line 44, ../../Projects/html/porny/sass/main.sass */
#nav-lp-menu ul {
  display: flex;
}

/* line 48, ../../Projects/html/porny/sass/main.sass */
#nav-lp-menu ul li a {
  display: block;
  padding: 15px 20px;
  color: #dfdfdf;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 55, ../../Projects/html/porny/sass/main.sass */
#nav-lp-menu ul li a:hover {
  color: #ffffff;
}

/* line 58, ../../Projects/html/porny/sass/main.sass */
#sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 666;
  top: 0;
  right: 0;
  background: #1a2a6c;
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  overflow-y: hidden;
  padding-top: 0px;
  transition: 0.5s;
}

/* line 74, ../../Projects/html/porny/sass/main.sass */
.sidenav-list {
  margin: 0 auto !important;
}

/* line 78, ../../Projects/html/porny/sass/main.sass */
.sidenav-list li a {
  font-size: 2em;
  color: #dfdfdf;
  font-weight: 400;
}

/* line 85, ../../Projects/html/porny/sass/main.sass */
.arrow-down {
  position: fixed;
  top: 0;
  left: 50%;
  border-top: 15px solid #FFF;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  width: 0;
  height: 0;
}

/* line 96, ../../Projects/html/porny/sass/main.sass */
.close-btn {
  border: 0;
  padding: 10px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

/* line 105, ../../Projects/html/porny/sass/main.sass */
.porny-logo img {
  width: 150px !important;
  height: 150px !important;
}

/* line 109, ../../Projects/html/porny/sass/main.sass */
.border-bottom-black {
  border-bottom: 3px solid #000000;
}

/* line 112, ../../Projects/html/porny/sass/main.sass */
.dark-background {
  background: #161923;
}

/* line 115, ../../Projects/html/porny/sass/main.sass */
.dark-text {
  color: #bcbdd0;
}

/* line 118, ../../Projects/html/porny/sass/main.sass */
.dark-primary {
  background: #000;
}

/* line 121, ../../Projects/html/porny/sass/main.sass */
.dark-secondary {
  background: #000;
}

/* line 124, ../../Projects/html/porny/sass/main.sass */
.primary-btn-lp {
  background: #d65a31;
  color: #000;
  font-weight: bold;
  padding: 20px 32px;
}

/* line 131, ../../Projects/html/porny/sass/main.sass */
.primary-btn-lp:hover {
  background: #d65a31;
  color: #000;
  border-color: #000;
}

/* line 137, ../../Projects/html/porny/sass/main.sass */
.secondary-btn-lp:hover {
  background: transparent;
  color: blue;
  border-color: blue;
}

/* line 141, ../../Projects/html/porny/sass/main.sass */
.is-bg-img {
  background: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1193,w_2121,x_0,y_64/f_auto,q_auto,w_1100/v1565279671/shape/mentalfloss/578211-gettyimages-542930526.jpg");
  background-size: cover;
}

/* line 145, ../../Projects/html/porny/sass/main.sass */
.is-color-1 {
  background: #222831;
}

/* line 147, ../../Projects/html/porny/sass/main.sass */
.is-color-2 {
  background: #393e46;
}

/* line 149, ../../Projects/html/porny/sass/main.sass */
.is-color-3 {
  background: #d65a31;
}

/* line 151, ../../Projects/html/porny/sass/main.sass */
.is-color-4 {
  background: #eeeeee;
}

/*# sourceMappingURL=main.css.map */