// Elements
body
    font-family: 'Montserrat', sans-serif

// Ids
#nav-lp
    display: flex
    align-items: center
    justify-content: space-between
    background: rgba(0,0,0,.5)
    position: fixed
    top: 0
    width: 100%
    transition: top 0.3s
    z-index: 99

    #nav-lp-left
        display: flex
        align-items: center

    #nav-lp-right
        display: flex
        align-items: center

// Classes
.logo
    min-width: 150px
    padding-right: 20px

    figure
        img
            

.has-background-transparent
    background: transparent !important

.is-borderless
    border: 0

.watch-now-btn
    color: #222831

#nav-lp-menu
    ul
        display: flex

        li
            a
                display: block
                padding: 15px 20px
                color: #dfdfdf
                font-weight: 600
                text-transform: uppercase

                &:hover
                    color: #ffffff

#sidenav
    height: 0 /* 100% Full-height */
    width: 100% /* 0 width - change this with JavaScript */
    position: fixed /* Stay in place */
    z-index: 666 /* Stay on top */
    top: 0 /* Stay at the top */
    right: 0

    background: #1a2a6c  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c)  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow-y: hidden /* Disable horizontal scroll */
    padding-top: 0px /* Place content 60px from the top */
    transition: 0.5s /* 0.5 second transition effect to slide in the sidenav */

.sidenav-list
    margin: 0 auto !important

    li
        a
            font-size: 2em
            color: #dfdfdf
            font-weight: 400

            &:hover

.arrow-down
    position: fixed
    top: 0
    left: 50%
    border-top: 15px solid #FFF
    border-right: 15px solid transparent
    border-bottom: 15px solid transparent
    border-left: 15px solid transparent
    width: 0
    height: 0

.close-btn
    border: 0
    padding: 10px
    margin: 10px 10px 0 0
    cursor: pointer
    background: transparent
    color: #fff

.porny-logo
    img
        width: 150px !important
        height: 150px !important
    
.border-bottom-black
    border-bottom: 3px solid #000000

.dark-background
    background: #161923

.dark-text
    color: rgb(188, 189, 208)

.dark-primary
    background: #000

.dark-secondary
    background: #000

.primary-btn-lp
    background: #d65a31
    color: #000
    //border: 3px solid #000
    font-weight: bold
    padding: 20px 32px

    &:hover
        background: #d65a31
        color: #000
        border-color: #000

.secondary-btn-lp
    &:hover
        background: transparent
        color: blue
        border-color: blue
.is-bg-img
    background: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_1193,w_2121,x_0,y_64/f_auto,q_auto,w_1100/v1565279671/shape/mentalfloss/578211-gettyimages-542930526.jpg')
    background-size: cover

.is-color-1
    background: #222831
.is-color-2
    background: #393e46
.is-color-3
    background: #d65a31
.is-color-4
    background: #eeeeee